*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    width: 80%;
    display: flex;
    flex-direction: column;
}

table{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 1.25rem;
}

th {
    border-bottom: 1px solid #ccc;
    font-size: small;
    font-weight: 400;
    color: #969696;
}

td {
    padding: 0.5rem;
    border: none;
}

tbody tr{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem; 
}

.add {
    display: flex;
    width: 100%;
    justify-content: end;
}

button{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 12px;
    padding: 0.25rem 0.5rem;
    background-color: #fff;
    font-size: large;
}

button:hover{
    background-color: #ccc;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: end;
    margin: 1rem 0;
}

header > div {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
    margin-top: 0.5rem;
}

.actions{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.actions .icon {
    width: 1rem;
    height: 1rem;
}

.order {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order .icon {
    width: 0.75rem;
    height: 0.75rem;
    border-style: none;
}

.order button {
    border: none;
    background-color: transparent;
}

.order button:hover{
    background-color: tomato;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.order button:active{
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4);
}

#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: hidden;
}

html.modal-open, body.modal-open {
    overflow: hidden;
}

#modal > form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
}

form .buttons {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

form > div.column-container {
    margin-top: 0.5rem;
}

form .title {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}

button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border-color: #969696;
}

button[type="submit"]:hover {
    background-color: #5cd560;
}

button.edit {
    background-color: #aba53f;
    color: #fff;
    border-color: #969696;
}

button.edit:hover {
    background-color: #fff52e;
}

button.cancel {
    background-color: #af3d3d;
    color: #fff;
    border-color: #969696;
}

button.cancel:hover {
    background-color: #cf4949;
}

.column-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

form .form-input {
    border-radius: 0.5rem;
    border-style: solid;
    padding: 0.25rem 0.25rem;
}

.empty-table {
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px dashed #ddd;
    margin-top: 20px;
}

.mark {
    color: #c51f1f;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}